<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>The Shining Instrumental</string>
	<key>artistName</key>
	<string>J Dilla</string>
	<key>coverURL</key>
	<string>https://i.scdn.co/image/3a1a83d2bb30302eb5b40147f25ec414506ea9a2</string>
	<key>currentPosition</key>
	<string>257.045989990234</string>
	<key>oldFilename</key>
	<string>/Users/Piotr/Code/Ubersicht/Playbox.Widget/Playbox.widget/lib/cover886.jpg</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>336.813</string>
	<key>songName</key>
	<string>So Far To Go</string>
</dict>
</plist>
